{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card z-depth-3" style="border-radius: 15px;">
            <div class="card-content">
                <h3 class="center green-text text-darken-3" style="font-weight: 700;">Diagnóstico de Impacto</h3>
                <p class="center grey-text flow-text">Tus hábitos de hoy definen el ecosistema de 2050.</p>
                
                <div class="progress grey lighten-3">
                    <div class="determinate green" style="width: 50%"></div>
                </div>

                <form method="post" class="section">
                    <div class="section">
                        <h5><i class="material-icons left">opacity</i> 1. Gestión Hídrica</h5>
                        <p class="grey-text text-darken-2">¿Utilizas dispositivos de ahorro de agua o recolectas agua de lluvia?</p>
                        <p>
                            <label>
                                <input class="with-gap" name="agua" type="radio" value="si" />
                                <span>Sí, optimizo el recurso hídrico.</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="agua" type="radio" value="no" />
                                <span>No, no aplico medidas de ahorro.</span>
                            </label>
                        </p>
                    </div>
                    <div class="divider"></div>

                    <div class="section">
                        <h5><i class="material-icons left">lightbulb</i> 2. Eficiencia Energética</h5>
                        <p class="grey-text text-darken-2">¿Desconectas aparatos electrónicos cuando no están en uso?</p>
                        <p>
                            <label>
                                <input class="with-gap" name="energia" type="radio" value="si" />
                                <span>Sí, evito el consumo vampiro.</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="energia" type="radio" value="no" />
                                <span>No suelo desconectarlos.</span>
                            </label>
                        </p>
                    </div>

                    <div class="center-align" style="margin-top: 30px;">
                        <button class="btn-large green accent-4 waves-effect waves-light pulse" type="submit">
                            Analizar mi huella <i class="material-icons right">analytics</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}