{% extends 'base.html' %}
{% block content %}


<header class="hero">
<div class="container">
<h2>Protejamos el Medio Ambiente</h2>
<p class="flow-text">Pequeñas acciones generan grandes cambios</p>
</div>
</header>


<div class="section section-padding">
<div class="row center">
<div class="col s12 m4">
<i class="material-icons icon-large green-text">eco</i>
<h5>Conciencia</h5>
<p>Aprende por qué el planeta necesita de nosotros.</p>
</div>
<div class="col s12 m4">
<i class="material-icons icon-large green-text">public</i>
<h5>Impacto</h5>
<p>Tus acciones influyen en el futuro global.</p>
</div>
<div class="col s12 m4">
<i class="material-icons icon-large green-text">groups</i>
<h5>Responsabilidad</h5>
<p>El cambio empieza contigo.</p>
</div>
</div>
</div>
{% endblock %}