{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel z-depth-2">
            <h4 class="green-text center"><i class="material-icons">settings_suggest</i> Auditoría SGA Personal</h4>
            <p class="center grey-text">Un Sistema de Gestión Ambiental (SGA) requiere medir para mejorar.</p>

            <form method="post" style="margin-top: 2rem;">
                <ul class="collection with-header">
                    <li class="collection-item">
                        <label>
                            <input type="checkbox" name="acciones" value="Agua" class="filled-in" />
                            <span><b>Optimización Hídrica:</b> Registro y control de fugas.</span>
                        </label>
                    </li>
                    <li class="collection-item">
                        <label>
                            <input type="checkbox" name="acciones" value="Energía" class="filled-in" />
                            <span><b>Eficiencia Lumínica:</b> Uso de tecnología LED y sensores.</span>
                        </label>
                    </li>
                    <li class="collection-item">
                        <label>
                            <input type="checkbox" name="acciones" value="Reciclaje" class="filled-in" />
                            <span><b>Gestión de Residuos:</b> Plan de segregación integral.</span>
                        </label>
                    </li>
                </ul>

                <div class="center" style="margin-top: 30px;">
                    <button class="btn-large green darken-2 waves-effect" type="submit">
                        Generar Reporte <i class="material-icons right">assignment_turned_in</i>
                    </button>
                </div>
            </form>
        </div>

        {% if acciones %}
        <div class="card-panel green lighten-5 z-depth-1 border-radius-10">
            <div class="row valign-wrapper" style="margin-bottom:0;">
                <div class="col s2">
                    <i class="material-icons large green-text">task_alt</i>
                </div>
                <div class="col s10">
                    <span class="black-text">
                        <b>¡Excelente!</b> Estás cumpliendo con los estándares de sostenibilidad en: 
                        <span class="green-text text-darken-4">{{ acciones | join(', ') }}</span>.
                    </span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}